.kusto {
    max-width: 169px;
    max-height: 128px;
    border-radius: 50%;
    margin-right: 26px;
}

@media screen and (max-width: 768px) {
    .kusto {
        max-width: 120px;
        max-height: 90px;
    }
}

@media screen and (max-width: 449px) {
    .kusto {
        max-width: 169px;
        max-height: 128px;
        border-radius: 50%;
    }
}