.edit-but {
    width: 24px;
    height: 24px;
    background-color: black;
    border: 1px solid #FFFFFF;
    transition: 0.2s;

}

.edit-but:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 449px) {
    .edit-but {
        width: 21px;
        height: 21px;
        /* margin-bottom: 17px; */
    }
}