.popup__close-image {
    position: absolute;
    top: -50px;
    right: -55px;
    border: none;
    background-color: transparent;
    transition: 0.2s;
}
.popup__close-image:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.2s;

}

@media screen and (max-width: 530px) {
    .popup__close-image {
        top: -42px;
        right: -17px;    
    }
}

@media screen and (max-width: 320px) {
    .popup__close-image {
        top: -36px;
        right: -43px;    
    }
}