.captions__paragraph {
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    justify-self: flex-end;
    margin-top: 16px;
    margin-bottom: 0px;
}

@media screen and (max-width: 900px) {
    .captions__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 449px) {
    .captions__paragraph {
        font-size: 14px;
        line-height: 17px;
        margin-top: 0px;
    }
}