.footer__paragraph {
    max-width: 882px;
    margin-top: 66px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #545454;
}

@media screen and (max-width: 1024px) {
    .footer__paragraph {
        max-width: 80%;
    }
}

@media screen and (max-width: 320px) {
    .footer__paragraph {
        max-width: 282px;
        font-size: 14px;
        margin-top: 48px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 300px) {
    .footer__paragraph {
        max-width: 80%;
    }
}