.caption__name {
    color: white;
    font-family: Inter, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    /* line-height: 56px; */
    align-self: flex-end;
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 0px;
}

@media screen and (max-width: 900px) {
    .caption__name {
        font-size: 30px;
    }
}

@media screen and (max-width: 449px) {
    .caption__name {
        font-size: 27px;
        font-weight: 500;
        line-height: 56px;
    }
}