.popup__field {
    border: none;
    margin-top: 25px;

    font-size: 14px;
    line-height: 17px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 11px;
}

/* .popup__field:invalid {
    border-bottom: 1px solid #FF0000;
} */